body, html {
  height: 100%;
  margin: 0;
}

.full-container {
  height: 100vh; 
  width: 100vw; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-image: url('https://t4.ftcdn.net/jpg/05/71/83/47/360_F_571834789_ujYbUnH190iUokdDhZq7GXeTBRgqYVwa.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

.container {
  margin-top: 200px;
  width: 300px;
  text-align: center;
  padding: 30px;
  border-radius: 8px;
  margin-left: 500%;
}
.container h1 {
  margin-bottom: 20px;
  color: yellow;
}

.container form {
  margin-bottom: 30px;
  border: rgb(180, 12, 12);
}

.container form input {
  margin-bottom: 10px;
  padding: 15px;
}

.container div {
  margin-top: 20px;
}

.container form button {
  margin-top: 10px;
  width: 60%;
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 20px;
}
